<% include partials/header %>

<section id="header-container">
    <div class="container">
        <div class="logo">
            <a href="/" id="logoLink">whereWasI?</a>
        </div>
        <h2 class="subdesc">
            An application to help you quickly find where you were in a show!
        <div id="selectShow">
        </div>
    </div>
</section>

<% include partials/footer %>